# =============================================================================
# AcousticNet - Dependências do Projeto
# Software de Camada Física para Comunicação Acústica
# =============================================================================

numpy>=1.24.0
PyAudio>=0.2.13
